* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fcf9e3;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 90%;
    max-width: 400px;
    margin-bottom: 5px;
}

button {
    font-size: 18px;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}